body {
    font-family: 'Arial',sans-serfif;
    margin: 40px;
}
h1{
    text-align: center;
    font-size: 30px;
    color:#530023;
    background-color: rgb(255, 196, 215);
}
h2{
    font-size: 20px;
    color:#ab1c58;
}

form{
    line-height: 3;
   
}
